.Musician {
  display: flex;
  flex-direction: column;
  margin: 260px 150px;
}

.topContainer {
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 10px 10px 10px lightgrey;
}

.Content {
  position:absolute;
  top: 40px;
  left: 40px;
  font-size: 1.2rem;
  color: white;
}
